body {
  text-align: center;
}

.contenedor {
  display: inline-block;
  width: 400px;
}

p {
  margin-bottom: 25px;
  padding: 20px;
  background: rgb(62, 131, 62);
  color: white;
}

.texto {
  padding: 10px;
  background: #24b080;
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 20px;
  border: 2px solid #ccc;
}

.boton {
  display: inline-block;
  background: #fff;
  border-radius: 10px;
  border: 2px solid #24b080;
  padding: 10px 30px;
  cursor: pointer;
  color: #24b080;
}

.boton:hover {
  background: #24b080;
  color: white;
}

.fondo-rojo {
  background: rgb(156, 76, 65);
}
